@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}
